{% extends "_includes/default.njk" %}

{% block title %}Personal portfolio of Jon Thomas - Home{% endblock %}

{% block content %}

{# Intro #}
<div class="px-12 md:px-20 md:pt-40">
  <div class="flex flex-wrap">
    <div class="py-12 md:w-1/3">
      <div class="shadow-2xl">
        <img src="img/profile-image-3-gray.jpg" alt="" class="block w-full shadow-lg">
      </div>
    </div>
    <div class="md:w-2/3">
      <div class="md:pl-24 md:pr-16">
        <h1 class="mb-12 text-2xl md:text-4xl">Hi, I'm Jon Thomas</h1>
        <p class="text-base leading-loose md:text-xl mb-8">I'm a <strong class="font-bold">customer-obsessed</strong> technology strategist who <strong class="font-bold">advocates for involving real customers</strong> in every aspect of desgining and developing digital products and solutions.</p>
        <p class="text-base leading-loose md:text-xl mb-8">I love finding the intersection of <strong class="font-bold">business goals</strong> and <strong class="font-bold">customer needs</strong> to design meaningful solutions, and I don't like wasting time on assumptions without testing them.</p>
        <p class="text-base leading-loose md:text-xl mb-8">My experience working with <strong class="font-bold">agencies, small businesses, startups, dev shops, non-profits, and enterprise companies</strong>, as well as <strong class="font-bold">running my own business</strong>, allows me to bring a broad understanding of various types of busineeses, customers, and solutions to my design approach.</p>
      </div>
    </div>
  </div>
</div>

<div class="py-24 h-2 text-center flex justify-center">
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
</div>

{# Principles #}
<div class="border border-black text-center mx-8 md:m-auto px-12 md:px-24 py-16 my-24 md:mb-32 md:w-3/4 lg:w-7/12">
  <div class="mb-20">
    <h2 class="text-lg font-bold uppercase tracking-widest">Principles and ideas<i class="block md:inline"></i>I believe in</h2>
  </div>
  <div class="mb-12">
    <h3 class="mb-2 font-bold leading-relaxed text-lg">Collaboration is essential for solving problems.</h3>
    <p class="leading-relaxed">No one solves a problem on their own. Input from a cross-functional team brings different perspectives to the table, and it allows everybody to contribute to a solution. Plus, it's just more fun when you solve problems as a team!</p>
  </div>
  <div class="mb-12">
    <h3 class="mb-2 font-bold leading-relaxed text-lg">Design is more than aesthetic.</h3>
    <p class="leading-relaxed">Many people know this, but our natural tendency is to polish something before we've come to understand or solve a problem. A good design facilitator will help people work to answer the hard questions first, and also ensure it's aesthetically pleasing.</p>
  </div>
  <div class="mb-12">
    <h3 class="mb-2 font-bold leading-relaxed text-lg">Learn cheaply.</h3>
    <p class="leading-relaxed">There are a lot of tools at a designer's disposal. It's important not to get attached to a tool. Reach for the tool that helps you answer the question in front of you as cheaply as you can before going deeper or farther. Sometimes you can get the answer you need by sketching, or even simply asking a question.</p>
  </div>
  <div class="mb-12">
    <h3 class="mb-2 font-bold leading-relaxed text-lg">Designers don't have all the answers.</h3>
    <p class="leading-relaxed">Being in the field of UX or Design does not mean having all the answers to design challenges. Many times, designers know how to facilitate bringing a group of people to a shared understanding of a problem, so everyone can agree on a solution to test next.</p>
  </div>
  <div class="mb-12">
    <h3 class="mb-2 font-bold leading-relaxed text-lg">Leadership is about serving, and doesn't require a title.</h3>
    <p class="leading-relaxed">You don't need a fancy title to bring your influence to a problem or a group of people. True leadership seeks to serve others first, and even better, equipping others and giving them the opportunity to lead as well.</p>
  </div>
  <div class="mb-12">
    <h3 class="mb-2 font-bold leading-relaxed text-lg">Technology should improve lives.</h3>
    <p class="leading-relaxed">Designing solutions for problems that improve peoples lives in some way is something I can get behind. Not realizing the value of what you spend your time working on is only sustainable for so long before you burn out.</p>
  </div>
</div>

{# Work #}
<div>
  <div class="m-auto px-12 py-24 md:w-3/4 lg:w-7/12">
    <div class="mb-20">
      <h2 class="text-lg font-bold mb-8 uppercase tracking-widest text-center">Work</h2>
      <p class="leading-relaxed text-center">Some recent projects <i class="block md:inline"></i>I've gotten to be a part of</p>
    </div>

    <div class="mb-32 md:mb-48">
      <h3 class="mb-8 uppercase font-bold">BUNN // VirtualTOUCH</h3>
      <p class="mb-8 leading-relaxed text-xl">Lead UX and UI design of a mobile web app that allows customers to interact with a machine and dispense a beverage without having to touch the equipment itself.</p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="relative py-12">
        <img src="img/vt-cover-1.jpg" alt="" class="w-full relative">
        <div class="absolute bottom-0 left-0 -ml-12 -mb-16 md:-mb-20 w-3/5 md:w-1/2 md:-ml-24 md:-mb-32">
          <img src="img/vt-iphone-1.png" alt="VirtualTOUCH iPhone" class="block w-full">
        </div>
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold">BUNN // Asset Tracking Prototoype</h3>
      <p class="mb-8 leading-relaxed text-xl">Designed a prototype for an asset tracking mobile app that could be used to pull up information on equipment assets. My team quickly moved from low-fidelity prototype to a working mobile web app prototype that could be demostrated to customers.</p>
      <p class="mb-8"><a href="https://invis.io/N7YO1PJP9TA#/387229480_0_Home_-_Default" class="underline">Try out the prototype</a></p>
      <div class="pt-8">
        <img src="img/service-cover-2.png" alt="" class="block mx-auto mb-8">
      </div>
    </div>
    
    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold"><a href="https://www.bunn.com">BUNN // B2B & Retail E-Commerce Website</a></h3>
      <p class="mb-8 leading-relaxed text-xl">Lead re-platform effort and design of a new <span class="whitespace-no-wrap">E-Commerce</span> website that serves multiple <a href="https://commercial.bunn.com" class="underline">B2B</a> and <a href="https://retail.bunn.com" class="underline">B2C</a> audiences.</p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="-mx-8 md:-mx-32">
        <img src="img/ecommerce-cover-2.png" alt="" class="block w-full mb-8">
      </div>
    </div>
    
    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold"><a href="https://design.bunn.com">BUNN // Design System</a></h3>
      <p class="mb-8 leading-relaxed text-xl">Establish and continuously build a new digital design system to create a library of common components and patterns.</p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="-mx-8 md:-mx-32">
        <img src="img/bunn-ds-cover-2.jpg" alt="" class="block w-full mb-8">
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold">Life & Health // Group Workshops</h3>
      <p class="mb-8 leading-relaxed text-xl">Lead product design and development of a custom online platform that allows organizations to offer group workshops to their communities.</p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="-mx-8 md:-mx-32 pt-12">
        <img src="img/lhn-groups-cover-4.png" alt="" class="block w-full mb-8">
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold">Lotfit // Automotive Logistics App</h3>
      <p class="mb-8 leading-relaxed text-xl">Product design and frontend development for a startup seeking to streamline the automotive logistics workflow of preparing used vehicles for sale.</p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="-mx-8 md:-mx-32 pt-12">
        <img src="img/lotfit-cover-2.png" alt="" class="block w-full mb-8 relative">
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold">CAT // QR Filter Reference Tool</h3>
      <p class="mb-8 leading-relaxed text-xl">UX/UI design and responsive web development for an online resource to help customers resources for a matching CAT filter when scanning a QR code.</p>
      <p class="text-small text-gray-600 mb-8">Collaboration with <a class="underline" href="https://pudik.com">Pudik</a></p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="-mx-8 md:pt-8 md:pb-4 md:-mx-32">
        <img src="img/cat-qr-cover-3.png" alt="" class="block w-full mb-8">
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold"><a href="http://www.catfiltercrossreference.com/">CAT // Filter Cross-reference Tool</a></h3>
      <p class="mb-8 leading-relaxed text-xl">UX/UI design and responsive web development for an online resource to help customers find the matching CAT filter when entering a competitor filter.</p>
      <p class="text-small text-gray-600 mb-8">Collaboration with <a class="underline" href="https://pudik.com">Pudik</a></p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="-mx-8 md:-mx-32">
        <img src="img/cat-cover-1.png" alt="" class="block w-full mb-8">
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold"><a href="https://www.sc-ctsi.org">SC CTSI // Website</a></h3>
      <p class="mb-8 leading-relaxed text-xl">UX Research and Design for a new website for the Southern California Clinical and Translational Science Institute, an organization that serves as a multifaceted resource for clinical and community-partnered translational research.</p>
      <p class="text-small text-gray-600 mb-8">Collaboration with <a class="underline" href="https://clearfirestudios.com">Cleafire</a></p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="md:-mx-32">
        <img src="img/ctsi-cover-1.png" alt="" class="block w-full mb-8">
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold">H.D. Smith // Company Website</h3>
      <p class="mb-8 leading-relaxed text-xl">UX/UI, frontend development and CMS development for pharmaceutical wholesale company website.</p>
      <p class="text-small text-gray-600 mb-8">Collaboration with <a class="underline" href="https://spokehq.com">Spoke</a></p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="pt-12 md:-mx-32">
        <img src="img/hds-cover-3.png" alt="" class="block w-full mb-8">
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold">H.D. Smith // B2B E-Commerce</h3>
      <p class="mb-8 leading-relaxed text-xl">Lead prototyping, UX/UI and frontend development for a new, responsive e-commerce B2B ordering platform.</p>
      <p class="text-small text-gray-600 mb-8">Collaboration with <a class="underline" href="https://spokehq.com">Spoke</a></p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="relative py-12">
        <img src="img/hds-hhc-bg-cover-1.jpg" alt="" class="block w-full mb-8 relative">
        <div class="absolute bottom-0 right-0 -mb-8 md:-mr-20 md:-mb-20 w-4/5 md:w-2/3">
          <img src="img/hds-hhc-laptop-1.png" alt="H.D. Smith E-commerce on laptop" class="block w-full">
        </div>
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold"><a href="https://www.pudik.com">Pudik // Website</a></h3>
      <p class="mb-8 leading-relaxed text-xl">Design, frontend and CMS development for a strategy and design agency.</p>
      <p class="text-small text-gray-600 mb-8">Collaboration with <a class="underline" href="https://pudik.com">Pudik</a></p>
      {# <p class="mb-8"><a href="" class="underline">Details</a></p> #}
      <div class="relative py-12">
        <img src="img/pudik-bg-cover.jpg" alt="" class="block w-full mb-8 relative">
        <div class="absolute inset-0">
          <div class="absolute bottom-0 left-0 -mb-8 md:-ml-8 md:-mb-24">
            <img src="img/pudik-iphone-1.png" alt="VirtualTOUCH iPhone" class="block w-2/5 md:w-3/5 md:w-3/4">
          </div>
        </div>
      </div>
    </div>

    <div class="mb-32">
      <h3 class="mb-8 uppercase font-bold">Hypothetical Banking App</h3>
      <p class="mb-8 leading-relaxed text-xl">I sometimes use this hypothetical banking app to help demonstrate concepts such as prototyping and user testing when advocating for UX and customer-centered design approaches.</p>
      <p class="mb-8"><a href="https://invis.io/DJYO1L14BAU" class="underline">Try out the prototype</a></p>
      <div class="relative py-12">
        <img src="img/bank-bg-cover.jpg" alt="" class="block w-full mb-8 relative">
        <div class="absolute inset-0">
          <div class="absolute bottom-0 right-0 -mr-2 -mb-8 md:-mr-8 md:-mb-20 w-1/2 md:w-1/2">
            <img src="img/bank-iphone-2.png" alt="VirtualTOUCH iPhone" class="block w-full">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="py-24 h-2 text-center flex justify-center">
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform rotate-45"></span>
  <span class="border border-black mx-px w-3 h-3 transform -rotate-45"></span>
</div>

<div>
  <div class="m-auto px-12 py-24 md:w-3/4 lg:w-7/12">
    <div class="mb-20">
      <h2 class="text-lg font-bold mb-8 uppercase tracking-widest text-center">Tools &amp; Approaches</h2>
      <p class="leading-relaxed text-center">Depending on the job, I reach for different tools. Here are some of the tools & approaches I reach for.</p>
    </div>

    <div class="//md:flex">
      <div class="mb-16">
        <h3 class="mb-4 font-bold uppercase tracking-widest">UX Approaches</h3>
        <ul class="mb-8 list-disc">
          <li class="mb-4 leading-relaxed">Journey Mapping and Experience Mapping to understand unique customer journeys and how they interact with business processes and sytems. Workshops using tools such as good ol' butcher paper and sticky notes or online tools like <a href="https://uxpressia.com/" class="font-bold underline">UXPressia</a>.</li>
          <li class="mb-4 leading-relaxed">Virtual Whiteboarding with tools like <a href="https://miro.com/" class="font-bold underline">Miro</a></li>
          <li class="mb-4 leading-relaxed">Persona development and/or <a href="https://www.intercom.com/resources/books/intercom-jobs-to-be-done" class="font-bold underline">Jobs To Be Done Framework</a> for understanding customers and tasks</li>
          <li class="mb-4 leading-relaxed">Prototyping and User Testing with tools like <a href="https://sketch.com" class="font-bold underline">Sketch</a>, <a href="https://invisionapp.com" class="font-bold underline">Invision</a>, and <a href="https://usertesting.com" class="font-bold underline">Usertesting.com</a></li>
          <li class="mb-4 leading-relaxed">Card Sorting and Tree Testing with tools like <a href="https://www.optimalworkshop.com/" class="font-bold underline">Optimal Workshop</a></li>
          <li class="mb-4 leading-relaxed"><a href="https://hotjar.com" class="font-bold underline">Hotjar Funnels, Heatmaps, and Recordings</a></li>
        </ul>
      </div>

      <div class="mb-16">
        <h3 class="mb-4 font-bold uppercase tracking-widest">Prototyping and UI Tools</h3>
        <ul class="mb-8 list-disc">
          <li class="mb-2 leading-relaxed">Sketch</li>
          <li class="mb-2 leading-relaxed">Invision</li>
          <li class="mb-2 leading-relaxed">Adobe Creative Suite</li>
          <li class="mb-2 leading-relaxed">HTML & CSS</li>
          <li class="mb-2 leading-relaxed">Framer</li>
        </ul>
      </div>

      <div class="mb-16">
        <h3 class="mb-4 font-bold uppercase tracking-widest">Frameworks &amp; Dev Tools</h3>
        <ul class="mb-8 list-disc">
          <li class="mb-2 leading-relaxed">HTML & CSS</li>
          <li class="mb-2 leading-relaxed">Javascript</li>
          <li class="mb-2 leading-relaxed"><a href="https://tailwindcss.com" class="font-bold underline">Tailwind CSS</a></li>
          <li class="mb-2 leading-relaxed"><a href="https://getbootstrap.com/" class="font-bold underline">Bootstrap</a></li>
          <li class="mb-2 leading-relaxed">Git</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-black text-white">
  <div class="m-auto px-12 py-24 md:w-3/4 lg:w-7/12">
    <p class="leading-relaxed">This site was built with <a href="https://www.11ty.dev/" class="underline">Eleventy</a> and <a href="https://tailwindcss.com" class="underline">Tailwind CSS</a>. It's deployed and hosted from <a href="https://github.com/wjthomas9/portfolio" class="underline">Github</a> using <a href="https://www.netlify.com/" class="underline">Netlify</a>.</p>
  </div>
</div>


{% endblock %}