{% macro imageWithCallout(imageUrl, altText, calloutText, imageClass='block w-full') %}
<figure class="relative py-8">
    <img src="{{ imageUrl }}" alt="{{ altText }}" class="relative {{ imageClass }}" />
    <div class="absolute top-0 left-0 right-0 text-center -mt-8">
        <div class="px-12 py-4 bg-pink-700 text-white font-bold uppercase inline-block rounded-lg leading-none tracking-wider">{{ calloutText }}</div>
    </div>
</figure>
{% endmacro %}